* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    text-align: center;
    margin-left: 420px;
    margin-top: -1005px;
}

ul { 
    margin-right: 300px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    position: relative;
    gap: 40px;
}

ul li{
     width: 55px;
     height: 55px;
     background-color: white;
     box-shadow:  0 8px 25px #00000055;
     border-radius: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     transition: .2s;

}

ul li:hover {
    width: 180px;

}

ul li .icon {
    color: pink;
    font-size: 1.2em;
    transition: .2s;
}

ul li .text {
    color: blue;
    font-size: 18px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .2d;

}

ul li span{
    position: absolute;

}

ul li:hover.text {
    transform: scale(1);
}

ul li :hover .icon {
    transform: scale(0);
}

img {
;
}

.form-image {
    width: 300px;
}